@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
</div>

<div class="container">
     <div class="row p-1">
        <div class="col-1">Room</div>
        <div class="col-5"><input type="text" id="roomInput" /></div>
        <!-- Room input box -->
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="roomButton" value="Connect to Room" />
            <!-- Room connect button -->
        </div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
        <!-- Message input box -->
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
            <!-- Send message button -->
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendGifButton" value="Send Gif" />
            <!-- Send Gif button -->
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
            <!-- List of messages that gets appended in chat.js -->
        </div>
    </div>
</div>

<!-- linking the javascript files here-->
<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>


