@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Chat Room</h1>
</div>

<div class="container">
     <div class="row p-1">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row p-1">
            <input type="button" value="Room 1" class="col-2 roomButton" id="defaultRoom"/>
            <input type="button" value="Room 2" class="col-2 roomButton"/>
            <input type="button" value="Room 3" class="col-2 roomButton"/>
            <input type="button" value="Room 4" class="col-2 roomButton"/>
            <input type="button" value="Room 5" class="col-2 roomButton"/>
            <input type="button" value="Room 6" class="col-2 roomButton"/>
    </div>
    <div class="row p-1">
        <p class="col-2 text-center" id="Room1count">
            X Online
        </p>
        <p class="col-2 text-center" id="Room2count">
            X Online
        </p>
        <p class="col-2 text-center" id="Room3count">
            X Online
        </p>
        <p class="col-2 text-center" id="Room4count">
            X Online
        </p>
        <p class="col-2 text-center" id="Room5count">
            X Online
        </p>
        <p class="col-2 text-center" id="Room6count">
            X Online
        </p>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12 chatbox" id="chatBox">
            <ul id="messagesList"></ul>
            <!-- List of messages that gets appended in chat.js -->
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12"><input type="text" class="w-100" id="messageInput" /></div>
        <!-- Message input box -->
    </div>
    <div class="row p-1">
        <div class="col-11 text-end">
            <input type="button" id="sendButton" value="Send Message" />
            <!-- Send message button -->
        </div>
        <div class="col-1 text-end">
            <input type="button" id="sendGifButton" value="Send Gif" />
            <!-- Send Gif button -->
        </div>
    </div>
</div>

<!-- linking the javascript files here-->
<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>


