@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
</div>

<form method="post">
    @*@Html.AntiForgeryToken()*@
    @*Chat gpt told me to add this line but it appears asp.net core does this by default*@
   
    <input type="text"  name="messageInput"
    @*Input text box*@
    @*This text box is bound to the messageInput variable in the backend c#*@ />
   
    <button type="submit">Send Message
        @*Submit button*@
    </button>
    
</form>


